<div class="row">
    <h2>Sobre o site</h2>
    <br />
    <h4>Objetivo do site</h4>
    <p>
        Este site tem como objetivo ser utilizado como portfólio para meus projetos futuros, e assim mostrar um pouco do meu trabalho.

    </p>
    <br />
    <h4>Tecnologias usadas</h4>
    <p>
        Este site não foi desenvolvido com templates.
        <br />
        Ele somente faz uso de frameworks front-end, tais como <i><b>Twitter BootStrap</b></i> e <i><b>Material Design Lite</b></i>.
        <br />
        Foi utilizado também <i><b>Ajax</b></i>, para poder ser usado de forma assíncrona.
    </p>
    <h4>Sobre o Autor</h4>
    <div class="row well well-sm">

        <img class="img-responsive img-thumbnail col-lg-2" src="~/Content/Imagens/danielLinkedin.jpg" />
        <p class="col-lg-10 ">
            <b>Daniel Passos</b>
            <br />
            <br />
            Atuante na área como Analista e Desenvolvedor Web. Utilizando conhecimento de
            <i><b>ASP.NET MVC</b></i>,
            <i><b>Ajax</b></i>,
            <i><b>HTML5</b></i>,
            <i><b>CSS</b></i>,
            <i><b>JavaScript</b></i>,
            <i><b>Jquery</b></i>, etc. E usando <i><b>C#</b></i>, como linguagem Server-Side. Para o acesso a dados o
            <i><b>ORM</b></i> <i><b>Entity Framework (EF)</b></i> juntamente com <i><b>FluentAPI</b></i>. Ou então <i><b>ADO.NET</b></i>.
            Dentre WebService, possuo conhecimento também de criação de <i><b>WebAPI</b></i>, e consumação de outras <i><b>APIs</b></i>.
            <br />
            <br />
            <br />
            Atualmente no 5º Sem. na FATEC Rubens Lara, na Baixada Santista.
        </p>
    </div>
</div>

