@model Portfolio.Models.Entities.Cliente
<h2>Cadastro</h2>
<br />
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="form-control">Nome: @Model.Nome</label>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>
</form>