<hr />
<footer class="row">
    <div class="col-lg-9">
        <p class="text-info">&copy; Daniel Passos 2015</p>
    </div>
    <div class="col-lg-3">
        <label class="text-info"> Mídias sociais</label> <a href="https://www.facebook.com/profile.php?id=100004977014691" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>  <a href="https://www.linkedin.com/profile/view?id=318137603" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://github.com/DanielHPassos" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
    </div>
</footer>
